{% extends 'base.html' %}
{% load static %}
{% block title %}List of courses{% endblock %}
{% block main_title %}Courses{% endblock %}
{% block main %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Department</th>
                <th>University</th>
                <th>Credits</th>
            </tr>
           
        </thead>
        {% for title, dep_name, entity, credits in courses  %}
        <tr>
            <td>{{ title }}</td>
            <td>{{ dep_name }}</td>
            <td>{{ entity }}</td>
            <td>{{ credits }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}