{% extends 'base.html' %}
{% load static %}
{% block title %}List of therapists{% endblock %}
{% block secondary_title %}Name:{{therapist.1}}{% endblock %}
{% block main %}
    <table>
        <thead>
            <tr>
                <th>Degree</th>
                <th>Experience</th>
                <th>Location</th>
                <th>Courses</th>
            </tr>
        </thead>      
        <tr>
            <td>{{ therapist.2 }}</td>
            <td>{{ therapist.3 }}</td>
            <td>{{ therapist.4 }}</td>
            <td><button onclick="window.location='http://localhost:8000/courses/{{therapist.0}}'">View</button></td>
        </tr>
    </table>
{% endblock %}