<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <h1>{% block main_title %}{% endblock %}</h1>
        <h2>{% block secondary_title %}{% endblock %}</h2>
        <div id="container">
            {% block main %}{% endblock %}
        </div>
    </body>

    <br>
    <hr>
    <footer>{% block footer_content %}&copy; Project Grupo Zenit V1.0.0{% endblock %}</footer>

</html>